<?xml version="1.0"?>
<model>
  <name>colosseo</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Mattia Catellani</name>
   <email>mattia.catellani@unimore.it</email>
  </author>

  <description>
    This is a model of Piazza del Colosseo.
  </description>
</model>
